@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer components {
    .auth-title {
        @apply text-2xl font-bold text-violet-500 text-center mt-8;
    }
}

@layer components {
  .screen-center {
    @apply flex justify-center items-center w-screen min-h-screen p-2;
  }
}

@layer components {
  .bn-editor {
    @apply dark:!bg-slate-800 !bg-stone-50;
  }
}

@layer utilities {
  .t {
    @apply transition-all duration-300 ease-in-out;
  }
}

@layer utilities {
  .scrollbar-hide {
    scrollbar-width: none;
    -ms-overflow-style: none; 
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}

@layer components {
    .auth-card{
        @apply max-w-md w-full transition-all duration-300 delay-75 ease-in-out bg-stone-50 overflow-hidden rounded-lg shadow-violet-400 flex flex-col justify-center m-4 hover:-translate-y-1 hover:shadow-md;
        animation: fade-in 0.3s ease-in forwards;
    }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
